.background {
    background-color:  #151515;
    position: absolute;
    top: calc(50% - 200px);
    left: 0;
    height: 400px;
    width: 100%;
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    text-align: center;
}

.search {
    align-self: center;
    text-align: center;
    width: 50%;
    height: fit-content;
    position: absolute;
    min-width: 350px;
    padding: 20px 20px;
    border-radius: 100px;
    border-top: 8px solid white ;
    border-bottom: 8px solid white ;
    border-right: 8px solid black;
    border-left: 8px solid black;
    box-shadow: 0 0 7px white;
    outline: none;
    font-size: 30px;
    font-weight: bolder;
    transition: all 1s ease;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 2px black;
}

.search:focus{
    
    padding: 10px 40px;
    border-top: 5px solid black ;
    border-bottom: 5px solid black ;
    
    border-right: 5px solid white;
    border-left: 5px solid white;
    transition: all 1s ease;
}

.searchText {
    align-self: center;
    color: white;
    position: relative;
    bottom: 90px;
    padding-left: 10px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-variant-caps: all-petite-caps;
    letter-spacing: 10px;

    transition: all 1s ease;
}
.search:focus ~ .searchText{
    letter-spacing: 30px;
    padding-left: 30px;
    opacity: 0;
    transition: all 1s ease;
}

.images {
    position: absolute;
    top: 100%;
    width: 100%;
    height: fit-content;
    column-width: 300px;
}